.card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px 20px;
}

 
.text {
  word-break: break-word;
  white-space: normal;
  visibility: hidden;
}

.container {
  position: relative;
  bottom: 220px;
  left: 30px;
  inline-size: 150px;

}

.card:hover .image {
  filter: brightness(30%);
}

.card:hover .text {
  visibility: visible;
  filter: brightness(100%);
}

.link {
  color: inherit;
  text-decoration: inherit;
}