.card {
  /* width: 500px;
  height: 500px; */

  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px 20px;
}

.text {
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom:180px;
  left:30px;
  max-width: 150px;
  visibility:hidden;
}

.card:hover .image {
  filter: brightness(30%);
}

.card:hover .text {
  visibility: visible;
  filter: brightness(100%);
}



