.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background-color: var(--background-color-medium-blue);
  height: 700px;
  border-radius: 12px;
  padding: 32px 32px;
  margin: 16px;
  /* position: fixed; */
  
  
}

.bookLogo {
  fill: #5A698F;
  /* margin-bottom: 32px; */
}

.link:hover .bookLogo,
.link:hover .svg{
  fill: orange;
}


.link {
  margin-bottom: 32px;
}

.svg {
  fill: #5A698F;
}
