@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

:root {
  --background-color: #10141E;
  --background-color-medium-blue: #161D2F;
  --background-color-light-blue:#5A698F;


  background-color: var(--background-color);
  color: white;
  font-family: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  
}

* {
 
}

.layout {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;

  overflow-x: scroll;
}



html,
body {
  
}

body {
  
}

a {
 
}

@media (prefers-color-scheme: dark) {
  
}
